@font-face {
    font-family: 'Raleway';
    src: url("./assets/fonts/raleway/Raleway-Italic-VariableFont_wght.TTF") format("truetype"),
        url("./assets/fonts/raleway/Raleway-VariableFont_wght.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* Reset & Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
    font-family: 'Arial', sans-serif;
}
body {
    font-family: "Raleway", sans-serif;
    margin: 0px;
}
hr {
    border: none;
    border-top: 1px solid #EEEEEE;
    margin: 60px 0px 0px 0px;
}
.hero {
    position: relative;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #403C3A;
    text-align: center;
    gap: 20px;
}
.hero-image {
    margin-left: 20px;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;;
}
.navbar .nav-links a {
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
.header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.button {
    background-color: #017E04;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.bg-grey {
    background-color: grey;
}
.footer {
    background-color: #403C3A;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    color: #777;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2 {
    font-weight: 100;
    font-size: 20px;
    margin: 0px 0px 15px 0px;
}
h3 {
    font-weight: 700;
    font-size: 20px;
}
.content {
    /* max-width: 800px; */
    margin: 20px auto;
    padding: 0px 20px 50px 20px;
}
/* Rezepte */
.recipe-img{
    position: relative;
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    background-image: url('./img/eggnog.jpg');
    background-size: cover;
    background-position: bottom;
}
.ingredients li:nth-child(odd) {
    background-color: #EEEEEE; /* Hellgrau für jeden zweiten Eintrag */
    border-radius: 5px;
}
.stats {
    display: flex;
    gap: 20px;
    margin: 25px 0px;
    justify-content: left;
}
.stat {
    border-radius: 5px;
    background-color: #EEEEEE;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
}
.stat p {
    display: flex;
    align-items: center;
    margin: 0;
}
.stat-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.ingredients {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.ingredients ul {
    list-style: none;
}
.ingredients li {
    height: 50px;
    padding-left: 50px;;
    display: flex;
    align-items: center;
}
.portions {
    height: 40px;
    border: 2px solid #EEEEEE;
    width: 100px;
    margin-left: 10px;
    box-shadow: none;
}
.portions::-webkit-inner-spin-button,
.portions::-webkit-outer-spin-button {
    opacity: 1;
    height: 38px;
}
.preparation {
    display: flex;
    flex-direction: column;
}
.preparation ul {
    list-style: none;
    padding-left: 50px;
}
.preparation li {
    display: flex;
    align-items: center;
}
.nutrition {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}
.nutrition ul {
    margin: 20px 0px;
    list-style: none;
}
.nutrition li {
    display: flex;
    align-items: center;
}
.nutrition li:nth-child(odd) {
    background-color: #EEEEEE; /* Hellgrau für jeden zweiten Eintrag */
    border-radius: 5px;
}
.notes {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}
.notes ul {
    margin: 20px 0px;
    list-style: none;
}
.notes li {
    display: flex;
    align-items: center;
}
.creator {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}
.creator_info {
    display: flex;
    align-items: center;
    gap: 20px;
}